[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = git@github.com:devcows/hugo-universal-theme.git
[submodule "tools/databranches"]
	path = tools/databranches
	url = git@github.com:endocode/databranches.git
	branch = master
