[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "tools/databranches"]
	path = tools/databranches
	url = https://github.com/endocode/databranches.git
	branch = master
